<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/profile">TO PROFILE</a>
    <hr>
    <% for(var i=0; i < movies.length; i++) { %>
      <div>
        <h4><%= movies[i].title %></h4>
        <h5><%= movies[i].year %></h5>
        <img src="<%= movies[i].poster %>" alt="presentation">
        <p><%= movies[i].plot %></p>
        <a href="/movie?id=<%= movies[i].id %>">OTVORI</a>
        <form action="/add-favorite" method="POST">
          <input type="hidden" value="<%= movies[i].id %>" name="id">
          <button type="submit">ADD TO FAVORITES</button>
        </form>
      </div>
    <% } %>
    <div>
      <%if (activePage > 1) { %>
        <a href="/?page=<%= activePage - 1 %>"><</a>
      <% } %>
      <a href="/?page=1">1</a>
      <a href="/?page=2">2</a>
      <a href="/?page=3">3</a>
      <a href="/?page=4">4</a>
      <a href="/?page=5">5</a>
      <%if (activePage < 5) { %>
        <a href="/?page=<%= activePage + 1 %>">></a>
      <% } %>
    </div>
  </body>
</html>
