<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% for(var i=0; i < movies.length; i++) { %>
  <div>
    <h4><%= movies[i].title %></h4>
    <h5><%= movies[i].year %></h5>
    <img src="<%= movies[i].poster %>" alt="presentation">
    <p><%= movies[i].plot %></p>
  </div>
  <% } %>



  <p>djsjsfdujfsdi</p>
</body>

</html>